body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    flex: 1;
  }
  
  header {
    background-color: #fff;
    color: #242443;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.192);
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  
  .menu-btn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }
  
  .sidebar {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: rgba(245, 242, 242, 0.897); 
    backdrop-filter: blur(10px);
    color: #242443;
    padding-top: 80px;
    transition: left 0.3s ease;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    max-height: calc(100% - 80px);
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 20px 0;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #242443;
    font-size: 18px;
    margin-left: 20px;
  }
  
  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
  }

.logo img {
    width: 250px;
    height: auto;
    margin-left: 20px;
  }


.popup-container {
    position: absolute;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.popup-text {
    margin-bottom: 20px;
}

.popup-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-buttons button {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #007BFF;
    margin: 10px 0;
  }

  .account-sidebar {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .spacer-text {
    font-size: 0; 
    height: 60px; 
    overflow: hidden; 
  }

  footer {
    flex-shrink: 0;
  }

  .btn-deposer {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 35px;
  }
  
  .btn-deposer i {
    margin-right: 10px;
  }
  
  .searchbarbig {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 50px;
    padding: 8px 16px;
    background-color: #ededed;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .searchbarbig input[type="text"] {
    border: none;
    outline: none;
    padding: 8px;
    font-size: 30px;
    width: 100%;
    color: #007BFF;
    background-color: #ededed;
  }
  
  .searchbarbig button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    margin-left: 8px;
    color: #007BFF;
  }
  
  /* Styles pour la boîte de suggestions */
  .suggestion-box {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.578); 
    backdrop-filter: blur(15px);
    border: 1px solid gray;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1;
    margin-top: 5px;
    left: 10px; 
    right: 10px; 
    display: none;
    border-radius: 10px;
  }
  
  .suggestion {
    padding: 5px;
    cursor: pointer;
  }
  
  .suggestion:hover {
    background-color: #007BFF;
    color: white;
  }

  #ad-container {
    position: absolute;
    top: 0;
    left: 0;
  }