body{
    margin: 0;
padding: 0;
background: conic-gradient(from -90deg, #7f6bff 0%, #1dd1a1 33%, #2691d9 66%, #7f6bff 100%);
height: 100vh;
overflow: hidden;
}

p{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}